APP_ENV=local
APP_DEBUG=true
APP_KEY=
APP_TIMEZONE=UTC

#This details are not used in this project
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=watermark
DB_USERNAME=root
DB_PASSWORD=


CACHE_DRIVER=file
QUEUE_DRIVER=sync

#example: https://example.com
TELEGRAM_REQUESTS_URL=<your-https-url-to-script-root>

BOT_API_TOKEN=<your-bot-api-topn>
BOT_USERNAME=watermark_add_bot

BOT_DB_CONNECTION=mysql
BOT_DB_HOST=127.0.0.1
BOT_DB_PORT=3306
BOT_DB_DATABASE=<db-name>
BOT_DB_USERNAME=<db-username>
BOT_DB_PASSWORD=<db-password>

